## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/packages/*
*.nupkg

## Visual Studio
.vs/
*.csproj.user

## Rider
.idea/

## Local environment
.env

## OS
Thumbs.db
.DS_Store
